body {
    background: black;
    font-family: Helvetica, sans-serif;
    font-size: 20pt;
    
}
p {
    font-family: Helvetica, sans-serif;
    font-size: 20pt;
    color:white;
}
.txt {
    font-family: Helvetica, sans-serif;
    font-size: 20pt;
    color:white;
}