body {
    background-color:black;
    transition:7s;
}
body:hover{
        background-color: white;
    transition:7s;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
p {
    position: relative;
    width: 90%;
    top:60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Helvetica, sans-serif;
    color:black;
    font-size: 20px;
    padding:10px;
    margin:10px;
    column-count: 2;
    text-align: justify;
    
    
}

.n {
    position:relative;
    font-family: helvetica, sans-serif;
    color:white;
    font-size: 20px;
    transition: 5s;
    display: inline-block;
    text-align: justify;
    
    
}
.n:hover {
    font-family: helvetica, sans-serif;
    color:#F32121;
    font-size: 20px;
    transition: 1s;
}

    
.full {
    position: relative;
    top:45%;
    width:55%;
    height:15px;
    line-height: 15px;
    font-size:20px;
    background-color:#87D9F1;
    transition:1s;
    font-family:Helvetica,sans-serif;
    text-align: right;
    color:#87D9F1;
    font-weight: bold;
    letter-spacing: 3px;
    padding:10px;
    margin:10px;
    display: inline-block;
}
.full:hover {
    position: relative;
    width:70%;
    height:15px;
    font-size:20px;
    transition: 1s;
    background-color:#3EC0E6;
    font-family:Helvetica,sans-serif;
    text-align: right;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
    display: inline-block;
}
.full2 {
    width:55%;
    height:15px;
    line-height: 15px;
    font-size:20px;
    background-color:#F04343;
    transition:1s;
    font-family:Helvetica,sans-serif;
    text-align: right;
    color:#F04343;
    font-weight: bold;
    letter-spacing: 3px;
    padding:10px;
    margin:10px;
    display: inline-block;
}
.full2:hover {
    position: relative;
    width:70%;
    height:15px;
    font-size:20px;
    transition: 1s;
    background-color:#F32121;
    font-family:Helvetica,sans-serif;
    text-align: right;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
    display: inline-block;
}


.chicago {
    font-family: Helvetica, sans-serif;
    font-size: 225px;
    color:#F04343;
    transition: 10s;
    letter-spacing: -5px;
    position: absolute;
    text-align: right;
    top:55%;
    right:5%;
}
.chicago:hover {
    font-family: Helvetica, sans-serif;
    font-size: 225px;
    color:#F32121;
    transition: 5s;
    letter-spacing: -5px; 
    position: absolute;
    text-align: right;
    top:55%;
    right:5%;
}

.sub {
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    color: #87D9F1;
    transition:5s;
    position: absolute;
    top:90%;
    right:6%;
    text-align: right;
    letter-spacing: 0px;
}
.sub:hover {
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    color: #3EC0E6;
    transition:2s;
    position: absolute;
    top:90%;
    right:6%;
    text-align: right;
    letter-spacing: 0px;
}